# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
educast_2.0/client/npm-seven-issue/
educast_2.0/client/src/components/image/hoho.png
educast_2.0/client/src/components/image/wallpaper.png
