

header{
    width: 100%;
    height: 80px;
    box-shadow: 0 0 10px -7px rgba(0,0,0,0.7);
    background-color: #2e3047;
}

header nav{
    max-width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1{
    color:#bdc6d6;
}

header nav .avtar{
    cursor: pointer;
}